In [230]:
import numpy as np
import pandas as pd

In [231]:
df = pd.read_csv('/content/IMDB-Movie-Data.csv')

In [232]:
df.head()

   Rank                    Title  ... Revenue (Millions) Metascore
0     1  Guardians of the Galaxy  ...             333.13      76.0
1     2               Prometheus  ...             126.46      65.0
2     3                    Split  ...             138.12      62.0
3     4                     Sing  ...             270.32      59.0
4     5            Suicide Squad  ...             325.02      40.0

[5 rows x 12 columns]

In [233]:
df.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [234]:
df.isnull().sum()

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

Simply dropping column instaed of replacing null values because thise columns are not important anyways.

In [235]:
df = df.drop(['Revenue (Millions)', 'Metascore'], axis = 1)

Columns after dropping.

In [236]:
df.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes'],
      dtype='object')

There are total of 1000 movies.

In [237]:
df.shape

(1000, 10)

Taking all the columns that are important.We will be using data of these columns to create our recommendations.

In [238]:
imp_columns = ['Title', 'Genre', 'Description', 'Director', 'Actors']

In [239]:
df[imp_columns].head(3)

                     Title  ...                                             Actors
0  Guardians of the Galaxy  ...  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...
1               Prometheus  ...  Noomi Rapace, Logan Marshall-Green, Michael Fa...
2                    Split  ...  James McAvoy, Anya Taylor-Joy, Haley Lu Richar...

[3 rows x 5 columns]

This combines the text from all these important columns into a string then we craete a list of those

In [240]:
def combine_features(data, imp_columns):
  combined_features = []
  for i in range(0, data.shape[0]):
    result = ''
    for feature in imp_columns:
      result = result + ' ' + str(data[feature][i])  # if result = 'split'  ..... result = 'split' + ' ' + str(data[Genre][2]) where 2 is row number
    combined_features.append(result) # appending entire row containing 'Title', 'Genre', 'Description', 'Director', 'Actors' in a list element
  return combined_features           # every list element represents a movie

Putting it in a new column.

In [241]:
df['combined_features'] = combine_features(df, imp_columns)

In [242]:
df.tail(1)

     Rank       Title  ...  Votes                                  combined_features
999  1000  Nine Lives  ...  12435   Nine Lives Comedy,Family,Fantasy A stuffy bus...

[1 rows x 11 columns]

In [243]:
df.iloc[999]['combined_features']

" Nine Lives Comedy,Family,Fantasy A stuffy businessman finds himself trapped inside the body of his family's cat. Barry Sonnenfeld Kevin Spacey, Jennifer Garner, Robbie Amell,Cheryl Hines"

Count vectorizer now converts entire texts to vectors.

In [246]:
from sklearn.feature_extraction.text import CountVectorizer
cm = CountVectorizer()
cm.fit(df['combined_features'])
cm.vocabulary_

{'guardians': 3677,
 'of': 6015,
 'the': 8332,
 'galaxy': 3391,
 'action': 178,
 'adventure': 225,
 'sci': 7365,
 'fi': 3095,
 'group': 3663,
 'intergalactic': 4299,
 'criminals': 2004,
 'are': 525,
 'forced': 3222,
 'to': 8445,
 'work': 9240,
 'together': 8453,
 'stop': 7968,
 'fanatical': 3011,
 'warrior': 9015,
 'from': 3325,
 'taking': 8186,
 'control': 1878,
 'universe': 8747,
 'james': 4425,
 'gunn': 3694,
 'chris': 1599,
 'pratt': 6548,
 'vin': 8904,
 'diesel': 2367,
 'bradley': 1152,
 'cooper': 1894,
 'zoe': 9336,
 'saldana': 7259,
 'prometheus': 6632,
 'mystery': 5781,
 'following': 3208,
 'clues': 1692,
 'origin': 6105,
 'mankind': 5266,
 'team': 8246,
 'finds': 3138,
 'structure': 8014,
 'on': 6061,
 'distant': 2422,
 'moon': 5665,
 'but': 1309,
 'they': 8357,
 'soon': 7787,
 'realize': 6833,
 'not': 5955,
 'alone': 350,
 'ridley': 7058,
 'scott': 7381,
 'noomi': 5942,
 'rapace': 6796,
 'logan': 5057,
 'marshall': 5323,
 'green': 3627,
 'michael': 5514,
 'fassbender': 3034,
 'charlize': 1538,
 'theron': 8352,
 'split': 7851,
 'horror': 4029,
 'thriller': 8391,
 'three': 8390,
 'girls': 3518,
 'kidnapped': 4689,
 'by': 1317,
 'man': 5248,
 'with': 9193,
 'diagnosed': 2346,
 '23': 79,
 'distinct': 2424,
 'personalities': 6358,
 'must': 5763,
 'try': 8624,
 'escape': 2849,
 'before': 882,
 'apparent': 497,
 'emergence': 2731,
 'frightful': 3321,
 'new': 5873,
 '24th': 82,
 'night': 5905,
 'shyamalan': 7619,
 'mcavoy': 5394,
 'anya': 482,
 'taylor': 8239,
 'joy': 4551,
 'haley': 3728,
 'lu': 5123,
 'richardson': 7043,
 'jessica': 4474,
 'sula': 8072,
 'sing': 7658,
 'animation': 441,
 'comedy': 1761,
 'family': 3006,
 'in': 4194,
 'city': 1629,
 'humanoid': 4074,
 'animals': 440,
 'hustling': 4103,
 'theater': 8334,
 'impresario': 4188,
 'attempt': 656,
 'save': 7320,
 'his': 3953,
 'singing': 7661,
 'competition': 1786,
 'becomes': 872,
 'grander': 3605,
 'than': 8327,
 'he': 3830,
 'anticipates': 471,
 'even': 2878,
 'as': 587,
 'its': 4384,
 'finalists': 3129,
 'find': 3135,
 'that': 8331,
 'their': 8337,
 'lives': 5036,
 'will': 9152,
 'never': 5871,
 'be': 851,
 'same': 7275,
 'christophe': 1607,
 'lourdelet': 5102,
 'matthew': 5367,
 'mcconaughey': 5402,
 'reese': 6883,
 'witherspoon': 9194,
 'seth': 7492,
 'macfarlane': 5176,
 'scarlett': 7337,
 'johansson': 4501,
 'suicide': 8067,
 'squad': 7870,
 'fantasy': 3016,
 'secret': 7410,
 'government': 3587,
 'agency': 256,
 'recruits': 6872,
 'some': 7768,
 'most': 5698,
 'dangerous': 2116,
 'incarcerated': 4198,
 'super': 8086,
 'villains': 8901,
 'form': 3238,
 'defensive': 2222,
 'task': 8228,
 'force': 3221,
 'first': 3147,
 'mission': 5594,
 'world': 9245,
 'apocalypse': 492,
 'david': 2151,
 'ayer': 717,
 'smith': 7727,
 'jared': 4440,
 'leto': 4960,
 'margot': 5292,
 'robbie': 7109,
 'viola': 8914,
 'davis': 2153,
 'great': 3619,
 'wall': 8986,
 'european': 2871,
 'mercenaries': 5486,
 'searching': 7402,
 'for': 3219,
 'black': 1009,
 'powder': 6536,
 'become': 871,
 'embroiled': 2729,
 'defense': 2220,
 'china': 1584,
 'against': 251,
 'horde': 4023,
 'monstrous': 5656,
 'creatures': 1992,
 'yimou': 9297,
 'zhang': 9330,
 'matt': 5363,
 'damon': 2106,
 'tian': 8406,
 'jing': 4486,
 'willem': 9154,
 'dafoe': 2085,
 'andy': 423,
 'lau': 4879,
 'la': 4815,
 'land': 4836,
 'drama': 2530,
 'music': 5759,
 'jazz': 4450,
 'pianist': 6399,
 'falls': 3000,
 'an': 399,
 'aspiring': 610,
 'actress': 187,
 'los': 5087,
 'angeles': 427,
 'damien': 2103,
 'chazelle': 1553,
 'ryan': 7229,
 'gosling': 3581,
 'emma': 2739,
 'stone': 7965,
 'rosemarie': 7168,
 'dewitt': 2341,
 'simmons': 7648,
 'mindhorn': 5564,
 'has': 3796,
 'been': 879,
 'actor': 185,
 'best': 948,
 'known': 4753,
 'playing': 6459,
 'title': 8443,
 'character': 1530,
 '1980s': 43,
 'detective': 2318,
 'series': 7477,
 'police': 6483,
 'when': 9101,
 'serial': 7476,
 'killer': 4702,
 'says': 7329,
 'only': 6068,
 'speak': 7818,
 'whom': 9127,
 'believes': 903,
 'real': 6828,
 'person': 6355,
 'sean': 7397,
 'foley': 3203,
 'essie': 2860,
 'andrea': 416,
 'riseborough': 7083,
 'julian': 4563,
 'barratt': 809,
 'kenneth': 4666,
 'branagh': 1157,
 'lost': 5094,
 'biography': 989,
 'true': 8618,
 'life': 4989,
 'centering': 1489,
 'british': 1223,
 'explorer': 2942,
 'col': 1718,
 'percival': 6328,
 'fawcett': 3050,
 'who': 9125,
 'disappeared': 2394,
 'while': 9107,
 'mysterious': 5779,
 'amazon': 376,
 '1920s': 19,
 'gray': 3617,
 'charlie': 1537,
 'hunnam': 4083,
 'robert': 7111,
 'pattinson': 6277,
 'sienna': 7631,
 'miller': 5554,
 'tom': 8461,
 'holland': 3987,
 'passengers': 6254,
 'romance': 7144,
 'spacecraft': 7806,
 'traveling': 8559,
 'colony': 1746,
 'planet': 6442,
 'and': 410,
 'transporting': 8550,
 'thousands': 8382,
 'people': 6324,
 'malfunction': 5233,
 'sleep': 7703,
 'chambers': 1509,
 'result': 6986,
 'two': 8656,
 'awakened': 704,
 '90': 108,
 'years': 9288,
 'early': 2618,
 'morten': 5690,
 'tyldum': 8662,
 'jennifer': 4464,
 'lawrence': 4894,
 'sheen': 7564,
 'laurence': 4887,
 'fishburne': 3152,
 'fantastic': 3015,
 'beasts': 858,
 'where': 9103,
 'them': 8338,
 'adventures': 227,
 'writer': 9268,
 'newt': 5881,
 'scamander': 7332,
 'york': 9302,
 'community': 1778,
 'witches': 9192,
 'wizards': 9208,
 'seventy': 7503,
 'harry': 3790,
 'potter': 6530,
 'reads': 6826,
 'book': 1101,
 'school': 7353,
 'yates': 9286,
 'eddie': 2638,
 'redmayne': 6881,
 'katherine': 4628,
 'waterston': 9034,
 'alison': 332,
 'sudol': 8057,
 'dan': 2107,
 'fogler': 3200,
 'hidden': 3921,
 'figures': 3118,
 'history': 3958,
 'story': 7976,
 'female': 3076,
 'african': 246,
 'american': 385,
 'mathematicians': 5359,
 'served': 7483,
 'vital': 8932,
 'role': 7136,
 'nasa': 5812,
 'during': 2589,
 'space': 7805,
 'program': 6622,
 'theodore': 8345,
 'melfi': 5469,
 'taraji': 8217,
 'henson': 3894,
 'octavia': 6006,
 'spencer': 7830,
 'janelle': 4431,
 'monáe': 5663,
 'kevin': 4676,
 'costner': 1932,
 'rogue': 7134,
 'one': 6063,
 'rebel': 6845,
 'alliance': 339,
 'makes': 5227,
 'risky': 7089,
 'move': 5714,
 'steal': 7924,
 'plans': 6444,
 'death': 2175,
 'star': 7903,
 'setting': 7495,
 'up': 8789,
 'epic': 2815,
 'saga': 7250,
 'follow': 3206,
 'gareth': 3414,
 'edwards': 2650,
 'felicity': 3072,
 'jones': 4522,
 'diego': 2365,
 'luna': 5142,
 'alan': 294,
 'tudyk': 8628,
 'donnie': 2490,
 'yen': 9291,
 'moana': 5613,
 'ancient': 409,
 'polynesia': 6488,
 'terrible': 8302,
 'curse': 2059,
 'incurred': 4208,
 'demigod': 2250,
 'maui': 5372,
 'reaches': 6823,
 'impetuous': 4177,
 'chieftain': 1575,
 'daughter': 2147,
 'island': 4373,
 'she': 7560,
 'answers': 462,
 'ocean': 6004,
 'call': 1345,
 'seek': 7425,
 'out': 6133,
 'set': 7490,
 'things': 8361,
 'right': 7065,
 'ron': 7152,
 'clements': 1662,
 'auli': 677,
 'cravalho': 1979,
 'dwayne': 2600,
 'johnson': 4505,
 'rachel': 6745,
 'house': 4049,
 'temuera': 8281,
 'morrison': 5686,
 'colossal': 1747,
 'gloria': 3538,
 'is': 4362,
 'party': 6247,
 'girl': 3515,
 'leave': 4916,
 'her': 3896,
 'back': 734,
 'home': 3997,
 'reports': 6955,
 'surface': 8109,
 'giant': 3491,
 'creature': 1991,
 'destroying': 2313,
 'seoul': 7463,
 'gradually': 3595,
 'comes': 1762,
 'realization': 6832,
 'somehow': 7769,
 'connected': 1830,
 'this': 8371,
 'phenomenon': 6380,
 'nacho': 5792,
 'vigalondo': 8887,
 'anne': 449,
 'hathaway': 3805,
 'jason': 4444,
 'sudeikis': 8056,
 'austin': 680,
 'stowell': 7979,
 'tim': 8423,
 'blake': 1019,
 'nelson': 5860,
 'pets': 6369,
 'quiet': 6724,
 'terrier': 8304,
 'named': 5803,
 'max': 5379,
 'upended': 8792,
 'owner': 6161,
 'takes': 8185,
 'duke': 2576,
 'stray': 7991,
 'instantly': 4276,
 'dislikes': 2414,
 'renaud': 6936,
 'louis': 5099,
 'eric': 2835,
 'stonestreet': 7967,
 'hart': 3791,
 'lake': 4833,
 'bell': 905,
 'hacksaw': 3712,
 'ridge': 7056,
 'wwii': 9274,
 'army': 556,
 'medic': 5456,
 'desmond': 2300,
 'doss': 2508,
 'battle': 837,
 'okinawa': 6036,
 'refuses': 6890,
 'kill': 4700,
 'receive': 6853,
 'medal': 5454,
 'honor': 4008,
 'without': 9196,
 'firing': 3146,
 'shot': 7604,
 'mel': 5466,
 'gibson': 3493,
 'andrew': 418,
 'garfield': 3415,
 'sam': 7272,
 'worthington': 9254,
 'luke': 5139,
 'bracey': 1149,
 'teresa': 8293,
 'palmer': 6193,
 'bourne': 1131,
 'cia': 1617,
 'former': 3239,
 'operative': 6078,
 'drawn': 2534,
 'hiding': 3924,
 'uncover': 8702,
 'more': 5674,
 'explosive': 2945,
 'truths': 8623,
 'about': 131,
 'past': 6259,
 'paul': 6281,
 'greengrass': 3630,
 'tommy': 8466,
 'lee': 4925,
 'alicia': 326,
 'vikander': 8892,
 'vincent': 8906,
 'cassel': 1450,
 'lion': 5022,
 'five': 3161,
 'year': 9287,
 'old': 6041,
 'indian': 4213,
 'boy': 1140,
 'gets': 3479,
 'streets': 7994,
 'calcutta': 1342,
 'kilometers': 4708,
 'survives': 8123,
 'many': 5277,
 'challenges': 1506,
 'being': 892,
 'adopted': 212,
 'couple': 1951,
 'australia': 681,
 '25': 83,
 'later': 4874,
 'sets': 7494,
 'garth': 3424,
 'dev': 2327,
 'patel': 6263,
 'nicole': 5898,
 'kidman': 4687,
 'rooney': 7162,
 'mara': 5280,
 'sunny': 8083,
 'pawar': 6287,
 'arrival': 567,
 'twelve': 8646,
 'appear': 499,
 'around': 561,
 'linguistics': 5015,
 'professor': 6618,
 'louise': 5100,
 'banks': 781,
 'tasked': 8229,
 'interpreting': 4307,
 'language': 4847,
 'alien': 328,
 'visitors': 8930,
 'denis': 2262,
 'villeneuve': 8903,
 'amy': 398,
 'adams': 192,
 'jeremy': 4470,
 'renner': 6942,
 'forest': 3229,
 'whitaker': 9116,
 'stuhlbarg': 8027,
 'gold': 3560,
 'kenny': 4667,
 'wells': 9078,
 'prospector': 6647,
 'desperate': 2303,
 'lucky': 5131,
 'break': 1174,
 'teams': 8250,
 'similarly': 7647,
 'eager': 2612,
 'geologist': 3463,
 'off': 6016,
 'journey': 4547,
 'uncharted': 8695,
 'jungle': 4576,
 'indonesia': 4218,
 'stephen': 7938,
 'gaghan': 3383,
 'edgar': 2640,
 'ramírez': 6782,
 'bryce': 1256,
 'dallas': 2095,
 'howard': 4055,
 'corey': 1908,
 'stoll': 7962,
 'manchester': 5251,
 'sea': 7395,
 'depressed': 2278,
 'uncle': 8697,
 'asked': 605,
 'take': 8181,
 'care': 1396,
 'teenage': 8259,
 'nephew': 5864,
 'after': 247,
 'father': 3043,
 'dies': 2366,
 'lonergan': 5066,
 'casey': 1443,
 'affleck': 239,
 'michelle': 5522,
 'williams': 9156,
 'kyle': 4811,
 'chandler': 1515,
 'lucas': 5127,
 'hedges': 3858,
 'hounds': 4045,
 'love': 5104,
 'crime': 2000,
 'cold': 1719,
 'blooded': 1047,
 'predatory': 6552,
 'cruising': 2026,
 'search': 7400,
 'next': 5883,
 'victim': 8877,
 'stumble': 8028,
 'upon': 8795,
 '17': 13,
 'high': 3925,
 'sedated': 7418,
 'abducted': 122,
 'chained': 1501,
 'strangers': 7987,
 'guest': 3680,
 'room': 7160,
 'ben': 912,
 'young': 9304,
 'booth': 1106,
 'ashleigh': 600,
 'cummings': 2048,
 'curry': 2058,
 'susie': 8129,
 'porter': 6506,
 'trolls': 8602,
 'bergens': 933,
 'invade': 4324,
 'troll': 8601,
 'village': 8897,
 'poppy': 6497,
 'happiest': 3765,
 'ever': 2883,
 'born': 1114,
 'curmudgeonly': 2055,
 'branch': 1158,
 'rescue': 6962,
 'friends': 3318,
 'walt': 8994,
 'dohrn': 2464,
 'anna': 444,
 'kendrick': 4664,
 'justin': 4586,
 'timberlake': 8424,
 'zooey': 9343,
 'deschanel': 2289,
 'christopher': 1608,
 'mintz': 5576,
 'plasse': 6448,
 'independence': 4210,
 'day': 2158,
 'resurgence': 6989,
 'decades': 2190,
 'invasion': 4329,
 'earth': 2621,
 'faced': 2972,
 'extra': 2954,
 'solar': 7754,
 'threat': 8384,
 'defenses': 2221,
 'enough': 2795,
 'roland': 7135,
 'emmerich': 2742,
 'liam': 4977,
 'hemsworth': 3885,
 'jeff': 4453,
 'goldblum': 3562,
 'bill': 978,
 'pullman': 6682,
 'maika': 5218,
 'monroe': 5653,
 'paris': 6225,
 'pieds': 6405,
 'nus': 5972,
 'fiona': 3142,
 'visits': 8931,
 'time': 8425,
 'assist': 628,
 'myopic': 5777,
 'aunt': 678,
 'martha': 5325,
 'catastrophes': 1458,
 'ensue': 2799,
 'mainly': 5220,
 'involving': 4346,
 'dom': 2471,
 'homeless': 3999,
 'yet': 9295,
 'have': 3813,
 'emotion': 2745,
 'or': 6092,
 'thought': 8380,
 'was': 9019,
 'afraid': 244,
 'expressing': 2948,
 'dominique': 2479,
 'abel': 123,
 'gordon': 3578,
 'emmanuelle': 2741,
 'riva': 7093,
 'pierre': 6407,
 'richard': 7041,
 'bahubali': 752,
 'beginning': 887,
 'india': 4212,
 'adventurous': 228,
 'daring': 2132,
 'involved': 4345,
 'feud': 3092,
 'between': 959,
 'warring': 9014,
 'rajamouli': 6772,
 'prabhas': 6545,
 'rana': 6784,
 'daggubati': 2087,
 'anushka': 479,
 'shetty': 7576,
 'tamannaah': 8198,
 'bhatia': 964,
 'dead': 2162,
 'awake': 703,
 'woman': 9215,
 'herself': 3912,
 'evil': 2895,
 'stalks': 7890,
 'victims': 8878,
 'through': 8395,
 'paralysis': 6216,
 'phillip': 6384,
 'guzman': 3701,
 'jocelin': 4493,
 'donahue': 2481,
 'jesse': 4473,
 'bradford': 1151,
 'borrego': 1115,
 'lori': 5085,
 'petty': 6370,
 'bad': 742,
 'moms': 5644,
 'overworked': 6158,
 'under': 8706,
 'appreciated': 505,
 'pushed': 6696,
 'beyond': 961,
 'limits': 5006,
 'ditch': 2431,
 'conventional': 1881,
 'responsibilities': 6979,
 'jolt': 4517,
 'long': 5067,
 'overdue': 6151,
 'freedom': 3299,
 'fun': 3350,
 'comedic': 1760,
 'self': 7441,
 'indulgence': 4221,
 'jon': 4518,
 'mila': 5544,
 'kunis': 4798,
 'kathryn': 4630,
 'hahn': 3720,
 'kristen': 4785,
 'christina': 1603,
 'applegate': 502,
 'assassin': 614,
 'creed': 1994,
 'callum': 1351,
 'lynch': 5155,
 'explores': 2944,
 'memories': 5475,
 'ancestor': 407,
 'aguilar': 266,
 'gains': 3387,
 'skills': 7683,
 'master': 5344,
 'discovers': 2404,
 'descendant': 2286,
 'assassins': 619,
 'society': 7749,
 'kurzel': 4802,
 'marion': 5304,
 'cotillard': 1935,
 'irons': 4356,
 'brendan': 1188,
 'gleeson': 3533,
 'why': 9129,
 'him': 3938,
 'holiday': 3986,
 'gathering': 3432,
 'threatens': 8388,
 'go': 3545,
 'rails': 6765,
 'ned': 5844,
 'fleming': 3176,
 'realizes': 6834,
 'silicon': 7641,
 'valley': 8826,
 'millionaire': 5558,
 'boyfriend': 1143,
 'pop': 6495,
 'question': 6719,
 'john': 4502,
 'hamburg': 3737,
 'zoey': 9337,
 'deutch': 2326,
 'franco': 3274,
 'tangie': 8205,
 'ambrose': 380,
 'cedric': 1481,
 'entertainer': 2805,
 'nocturnal': 5936,
 'wealthy': 9047,
 'art': 570,
 'gallery': 3396,
 'haunted': 3809,
 'ex': 2903,
 'husband': 4097,
 'novel': 5961,
 'violent': 8917,
 'interprets': 4308,
 'symbolic': 8158,
 'revenge': 7015,
 'tale': 8187,
 'ford': 3225,
 'jake': 4421,
 'gyllenhaal': 3703,
 'shannon': 7537,
 'aaron': 112,
 'men': 5477,
 're': 6819,
 'mutant': 5765,
 'destroyer': 2312,
 'unite': 8744,
 'defeat': 2213,
 'extinction': 2951,
 'level': 4967,
 'plan': 6440,
 'bryan': 1255,
 'singer': 7659,
 'nicholas': 5891,
 'hoult': 4044,
 'deadpool': 2165,
 'fast': 3035,
 'talking': 8194,
 'mercenary': 5487,
 'morbid': 5673,
 'sense': 7457,
 'humor': 4077,
 'subjected': 8040,
 'experiment': 2933,
 'leaves': 4917,
 'accelerated': 150,
 'healing': 3840,
 'powers': 6541,
 'quest': 6718,
 'reynolds': 7028,
 'morena': 5676,
 'baccarin': 732,
 'ed': 2637,
 'skrein': 7688,
 'resident': 6968,
 'final': 3128,
 'chapter': 1529,
 'alice': 325,
 'returns': 7005,
 'nightmare': 5907,
 'began': 885,
 'hive': 3966,
 'raccoon': 6739,
 'umbrella': 8684,
 'corporation': 1917,
 'forces': 3223,
 'strike': 8001,
 'remaining': 6931,
 'survivors': 8126,
 'anderson': 413,
 'milla': 5552,
 'jovovich': 4550,
 'iain': 4114,
 'glen': 3534,
 'ali': 323,
 'larter': 4864,
 'shawn': 7558,
 'roberts': 7113,
 'captain': 1383,
 'america': 384,
 'civil': 1630,
 'war': 9004,
 'political': 6485,
 'interference': 4298,
 'avengers': 696,
 'activities': 184,
 'causes': 1472,
 'rift': 7060,
 'allies': 342,
 'iron': 4355,
 'anthony': 466,
 'russo': 7223,
 'evans': 2876,
 'downey': 2517,
 'jr': 4552,
 'sebastian': 7407,
 'stan': 7895,
 'interstellar': 4311,
 'explorers': 2943,
 'travel': 8558,
 'wormhole': 9249,
 'ensure': 2800,
 'humanity': 4072,
 'survival': 8120,
 'nolan': 5938,
 'chastain': 1545,
 'mackenzie': 5181,
 'foy': 3261,
 'doctor': 2453,
 'strange': 7984,
 'physical': 6395,
 'spiritual': 7847,
 'brilliant': 1214,
 'neurosurgeon': 5869,
 'into': 4317,
 'mystic': 5782,
 'arts': 583,
 'derrickson': 2284,
 'benedict': 914,
 'cumberbatch': 2047,
 'chiwetel': 1587,
 'ejiofor': 2673,
 'mcadams': 5392,
 'wong': 9223,
 'magnificent': 5209,
 'seven': 7500,
 'western': 9093,
 'gunmen': 3693,
 'west': 9092,
 'come': 1757,
 'help': 3879,
 'poor': 6493,
 'savage': 7317,
 'thieves': 8359,
 'antoine': 474,
 'fuqua': 3355,
 'denzel': 2270,
 'washington': 9021,
 'ethan': 2869,
 'hawke': 3819,
 'onofrio': 6070,
 '77': 106,
 'alienated': 329,
 'hopeful': 4017,
 'filmmaker': 3124,
 'pat': 6262,
 'growing': 3666,
 'rural': 7218,
 'illinois': 4146,
 'falling': 2999,
 'becoming': 873,
 'fan': 3010,
 'movie': 5718,
 'changed': 1517,
 'everything': 2890,
 'patrick': 6272,
 'read': 6824,
 'francis': 3272,
 'daley': 2093,
 'pendleton': 6316,
 'colleen': 1732,
 'camp': 1359,
 'neil': 5856,
 'flynn': 3192,
 'sausage': 7316,
 'strives': 8009,
 'discover': 2401,
 'truth': 8622,
 'existence': 2920,
 'greg': 3634,
 'tiernan': 8413,
 'rogen': 7131,
 'wiig': 9144,
 'jonah': 4519,
 'hill': 3935,
 'alistair': 333,
 'abell': 124,
 'moonlight': 5666,
 'chronicle': 1610,
 'childhood': 1579,
 'adolescence': 209,
 'burgeoning': 1280,
 'adulthood': 221,
 'gay': 3439,
 'rough': 7180,
 'neighborhood': 5854,
 'miami': 5513,
 ...}

In [247]:
cm = cm.transform(df['combined_features'])

In [248]:
cm

<1000x9359 sparse matrix of type '<class 'numpy.int64'>'
	with 38547 stored elements in Compressed Sparse Row format>

Cosine similarity measures the similarity between vectors based on cosine angle between them. The more the value the better.
If cos(theta) = 1, overlaps .i.e same vectors

We will be plotting pairwise cosine similarity; 1000 movies vs 1000 movies
If 1, means same movie.

In [147]:
from sklearn.metrics.pairwise import cosine_similarity
cs = cosine_similarity(cm)
print(cs)

[[1.         0.25692801 0.21021383 ... 0.2306328  0.25391836 0.13543224]
 [0.25692801 1.         0.15384615 ... 0.10127394 0.1672484  0.08920516]
 [0.21021383 0.15384615 1.         ... 0.10127394 0.13937367 0.0594701 ]
 ...
 [0.2306328  0.10127394 0.10127394 ... 1.         0.13762047 0.11744404]
 [0.25391836 0.1672484  0.13937367 ... 0.13762047 1.         0.09697623]
 [0.13543224 0.08920516 0.0594701  ... 0.11744404 0.09697623 1.        ]]

Here each row and column represnt a movie, and the correlation between each is given, where it is 1, it means they are the same movie. It'll be 1 across diagonal.

In [148]:
cs.shape

(1000, 1000)

Picking any random movie, say user likes this movie say 'Fury'.

In [214]:
movie_title = 'Fury'

Getting index of the movie.

In [215]:
movie_id = df[df['Title'] == movie_title].index.values

In [216]:
movie_id

array([240])

Selecting entire cosine similarity row of 'Fury'. As movie id is 240 as can be seen from above, obviously selected_movie_cs[0][240] = 1

In [218]:
selected_movie_cs = cs[movie_id]

In [219]:
selected_movie_cs.shape

(1, 1000)

In [220]:
type(selected_movie_cs)

numpy.ndarray

As selected_movie_cs is an numpy array. We will sort them in ascending order. Hence movies with max cosine similarity will be at end. So what argsort does is it sorts indexes instead. Hence this sort_score will contain indexes of movies. As the sorting is ascending then last element will be the index of movie 'Fury' as cs was 1 and so on

In [221]:
sort_scores = np.argsort(selected_movie_cs)

In [222]:
sort_scores.shape

(1, 1000)

Now in the below cell we are selecting 10 values from last ignoring the last one as it is the movie itself.

In [223]:
recommendation = sort_scores[:, sort_scores.shape[0]-12:-1]

So the movie with index 210 is the most relatable to 'Fury'.

In [224]:
recommendation

array([[920, 700, 188, 530, 301, 810, 460,  71, 359, 210]])

In [225]:
type(recommendation.shape[1])

int

Now getting the Titles of the movie, and appending them into a list.

In [226]:
movies = []
for i in range(0, recommendation.shape[1]):
  id = recommendation[0][i]
  movies.append(df.iloc[id]['Title'])

Reversing the list, to make the most relatable movie as first cause cs was sorted ascending.

In [227]:
movies = movies[::-1]

List of 10 most recommended movies.

In [228]:
movies

['San Andreas',
 'About Time',
 'Allied',
 'The Town',
 'Turbo Kid',
 'Lone Survivor',
 'A Good Year',
 'Drive',
 'Funny Games',
 'Centurion']